
       /* seccion de equipo */
       .Equipo {
        background-color: #D8D8D8;;
        text-align:justify;
        padding: 40px 40px;
      }
      .equipo-img {
        width: 140px; /* ajusta el tamaño deseado para las imágenes */
        height: 140px; /* ajusta el tamaño deseado para las imágenes */
        object-fit: cover; /* para mantener la proporción de la imagen */
      }
      
      .equipo-text {
        font-size: 15px; /* ajusta el tamaño de fuente deseado para el texto */
        line-height: 1.5; /* ajusta el espacio entre líneas del texto */
        text-align:justify;
        height: 100%;
      }
      
      
      .gallery-item {
        margin-bottom: 15px;
      }
      .gallery-section {
        background-color: #D8D8D8; /* Color de fondo gris para la sección de galería */
        padding: 50px 0; /* Ajusta el espacio interno según sea necesario */
        text-align: center; 
      }
      .gallery-item {
        margin-bottom: 15px;
      } 
      .gallery-item img {
        height: 400px; /* Puedes ajustar esta altura según tus preferencias */
        width: 400px;
        object-fit: cover; /* Esto asegura que la imagen cubra completamente el contenedor sin distorsionarse */
      }
      