.navbar-brand img {
  transition: transform 0.3s ease-in-out;
}
.navbar-brand:hover img {
transform: scale(1.5); 
}
.logo {
width: 40px;
border-radius: 25%;
}


.navbar {
padding: 10px;
}

.navbar-brand {
margin-right: 20px;
}



