@media (min-width: 768px) {
  
    .quienes-somos-section {
      padding: 40px;
    }
  
    .quienes-somos-text {
      flex-basis: 60%;
    }
  
    .quienes-somos-image {
      flex-basis: 35%;
    }
  
    .img-fluid2 {
      width: 400px;
      margin-bottom: 130px;
    }
  
    .Equipo {
      padding: 40px;
    }
  
    .card-img-top {
      height: 400px;
    }
  
    .container1 {
      padding: 40px;
    }
  }
  