.quienes-somos-section {
    padding-top: 70px;
    background-color: #D8D8D8;
    color: #000;
    padding: 40px 20px; 
    text-align:justify; 
    word-spacing: 0px; /* Ajusta el espaciado según sea necesario */
  }
  
  .quienes-somos-content {
    display: flex;
    flex-wrap: wrap;
    justify-content:justify;
  }
  
  
  .quienes-somos-text {
    flex-basis: 100%; 
    justify-content: justify;/* Ancho del 60% para el texto */
  }
  
  .quienes-somos-image {
    flex-basis: 100%; /* Ancho del 35% para la imagen */
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  }
  
  .img-fluid2{
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    margin-bottom: 20px 
  }
  
  
  .titulo-NMC{
    margin-top: 10px;
    height: 100p;
  }  