
.servicios{
    background-color:#D8D8D8;
    color: black;
   
    text-align: justify;
    padding: 40px 20px;
  }
  
  .card-img-top {
    object-fit: cover;
  }
  
  .card {
    margin-bottom: 20px;
  
  }
  
  .card-title {
    color: #b21a15;
  }
  
  .card-text {
    font-size: 15px;
    line-height: 1.5;
    text-align:justify;
    height: 100%;
  
  }